@import "ZenZero/modules/zz-tab-groups.css";
  @import "ZenZero/modules/zz-tab-switcher.css";
  @import "ZenZero/modules/zz-player.css";
  @import "ZenZero/modules/zz-containers.css";
/*   @import "ZenZero/modules/zz-custom-addon-icons.css"; */
  @import "ZenZero/modules/zz-glance.css";
  @import "ZenZero/modules/zz-general.css";
/*   @import "ZenZero/modules/zz-compact-sidebar.css"; */

/* other mods */

/* auto hide toolbar buttons */
#zen-sidebar-top-buttons {
  transition: all 0.3s ease-in-out !important;
  margin-top: 0 !important;
  padding-top: 5px !important;
}

#navigator-toolbox:not(:has(#nav-bar:hover)):not(:has(#urlbar[open=""])) {
  #zen-sidebar-top-buttons:not(:hover):not(:has([open="true"])):has(
      toolbarbutton:not([hidden="true"]):not(#unified-extensions-button)
    ) {
    margin-top: -20px !important;
    margin-bottom: 0 !important;
    opacity: 0 !important;
  }
}


.tab-group-label {
  #tabbrowser-tabs[orient="vertical"] & {
    height: 100% !important;
    align-content: center !important;
  }
}

/* #navigator-toolbox, #titlebar, #titlebar::before, #titlebar::after, #navigator-toolbox::after{
  background-color: transparent !important;
  background: none !important;
  
  --zen-main-browser-background-toolbar: transparent !important;
} */

.browserContainer.responsive-mode{
  background-color: transparent !important;
  browser{
    border-radius: 2em !important;
  }
}
