@import "ZenZero/zz-config.css";

:root {
  --bg_color: "https://github.com/sameerasw/my-internet/blob/main/wave-light.png?raw=true";
  --bg_img: image-set(var(--bg_color)) !important;
}


/* ============================================= */
/* ======== personal pref only, keep off ======== */
/* ============================================= */

/* Permanently transparent compact sidebar - fix for zen bug */
#zen-main-app-wrapper[zen-compact-mode="true"] #navigator-toolbox {
/*   opacity: 0 !important; */
}

/* auto hide toolbar buttons */
#zen-sidebar-top-buttons {
  transition: all 0.3s ease-in-out !important;
  margin-top: 0 !important;
  padding-top: 5px !important;
}

#navigator-toolbox:not(:has(#nav-bar:hover)):not(:has(#urlbar[open=""])) {
  #zen-sidebar-top-buttons:not(:hover):not(:has([open="true"])):has(
      toolbarbutton:not([hidden="true"]):not(#unified-extensions-button)
    ) {
    margin-top: -20px !important;
    margin-bottom: 0 !important;
    opacity: 0 !important;
  }
}


