
/*******************************************************************************
 * CTRL+TAB SWITCHER STYLING
 ******************************************************************************/

/* Ctrl+Tab preview panel styling */
#ctrlTab-previews {
  border-radius: 2em !important;
  margin-bottom: 2em !important;
  padding: 1.5em !important;

  box-shadow: rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
  background-color: light-dark(#fff8, #0005) !important;
}

/* Preview image styling */
.ctrlTab-canvas img {
  border-radius: 1em !important;
  transition: all 0.5s ease-in-out !important;

  &:hover,
  &:active,
  &:focus {
    scale: 1.05 !important;
  }
}

#ctrlTab-preview:active,
#ctrlTab-preview:focus {
  .ctrlTab-canvas img {
    scale: 1.05 !important;
  }
}

/* Panel background and blur effect */
#ctrlTab-panel {
  background-color: transparent !important;
  --panel-background: transparent !important;
  --zen-appcontent-border: none !important;
  border: none !important;
}

body:has(
    #ctrlTab-panel[hasbeenopened="true"] .ctrlTab-preview:not([hidden="true"])
  )
  #tabbrowser-tabpanels {
/*   filter: blur(10px) !important; */
}