
/*******************************************************************************
 * CTRL+TAB SWITCHER STYLING
 ******************************************************************************/

/* Ctrl+Tab preview panel styling */
#ctrlTab-previews {
  border-radius: 2em !important;
  margin-bottom: 2em !important;
  padding: 1em 0em 0 0em !important;

    border: 1px solid light-dark(#ffff, #fff5);
    box-shadow:   4px 2px 20px light-dark(#0005, #0001), inset 0 2px 4px light-dark(#ffff, #fff3);
  background-color: light-dark(#fff8, #0008) !important;
}

.ctrlTab-preview-inner{
  border-radius: 1.8em !important;
  &:hover, &:focus, &:active, &:focus-visible, &:target, &:focus-within{
  background-color: light-dark(#ddd, #222) !important;
/*     border: none !important; */
  }
}

/* Preview image styling */
.ctrlTab-canvas {
  border-radius: 1em !important;
  overflow: hidden !important;
  transition: all 0.5s ease-in-out !important;
}

.ctrlTab-preview:hover, .ctrlTab-preview:active, .ctrlTab-preview:focus{
    scale: 1.02 !important;
}

/* Panel background and blur effect */
#ctrlTab-panel {
  background-color: transparent !important;
  box-shadow: none !important;
  background: none !important;
  --panel-background: transparent !important;
  --zen-appcontent-border: none !important;
  border: none !important;
}

label.ctrlTab-label::before{
  color:  light-dark(#000, #fff) !important;
  background-color: light-dark(#fff, #000) !important;
  padding: 7px !important;
  border-radius: 1em;
  
}

body:has(
    #ctrlTab-panel[hasbeenopened="true"] .ctrlTab-preview:not([hidden=""])
  )
  #tabbrowser-tabpanels {
  filter: blur(10px) !important;
}

.ctrlTab-favicon{
  margin: auto !important;
  margin-top: -95px !important;
  scale: 1.5 !important;
  border-radius: 1em !important;
  background-color: light-dark(#ddd, #222) !important;
}