@media (-moz-pref("zenzero.tab_groups_enabled")) {
  @import "modules/zz-tab-groups.css";
}

@media (-moz-pref("zenzero.tab_switcher_enabled")) {
  @import "modules/zz-tab-switcher.css";
}

@media (-moz-pref("zenzero.player_enabled")) {
  @import "modules/zz-player.css";
}

@media (-moz-pref("zenzero.containers_enabled")) {
  @import "modules/zz-containers.css";
}

@media (-moz-pref("zenzero.compact_sidebar_enabled")) {
  @import "modules/zz-compact-sidebar.css";
}

@media (-moz-pref("zenzero.custom_addon_icons_enabled")) {
  @import "modules/zz-custom-addon-icons.css";
}

@media (-moz-pref("zenzero.glance_enabled")) {
  @import "modules/zz-glance.css";
}

@media (-moz-pref("zenzero.general_enabled")) {
  @import "modules/zz-general.css";
}

/* other mods */

/* auto hide toolbar buttons */
#zen-sidebar-top-buttons {
  transition: all 0.3s ease-in-out !important;
  margin-top: 0 !important;
  padding-top: 5px !important;
}

#navigator-toolbox:not(:has(#nav-bar:hover)):not(:has(#urlbar[open=""])) {
  #zen-sidebar-top-buttons:not(:hover):not(:has([open="true"])):has(
      toolbarbutton:not([hidden="true"]):not(#unified-extensions-button)
    ) {
    margin-top: -20px !important;
    margin-bottom: 0 !important;
    opacity: 0 !important;
  }
}


